.displayTable {
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;

    max-width: 500px;
    background: #dddadf;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5e5e5e;
    text-shadow: 1px 1px 1px #e5e5e5;
    border:1px solid #979797;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}